@charset "UTF-8";

.hidden
{
	display: none;
}

body
{
	font-family: Arial, sans-serif;
	background-color: #fff;
}


.headerCon
{

	background: #2e7551;
	background: -moz-linear-gradient(top, #2e7551 1%, #35845b 50%, #2e7551 100%); 
	background: -webkit-linear-gradient(top, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	background: linear-gradient(to bottom, #2e7551 1%,#35845b 50%,#2e7551 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e7551', endColorstr='#2e7551',GradientType=0 );
	
}

#mainHeader
{
	width: 1080px;
	display: flex;
	flex-direction: row;
	margin: 0 auto;

}


#logo
{


	margin-top:12px;

}

#mainNav ul
{
	
	margin-left:300px;
	margin-top: 50px;
	display: flex;
	flex-direction: row;

}


#mainNav ul li a
{	
	font-size: 17px;
	width: 90px;
	margin-left: 30px;
	text-decoration: none;
	color: #f8f8f8;
	font-family: 'Montserrat' ,Helvetica, Arial, sans-serif;
	transition: all .3s ease-in;
}

#mainNav ul li a:hover
{
	color: #00c15e;
	border-bottom: solid 3px;
	padding-bottom: 8px;
}

/*==================== Home Section===========*/
#indexPage
{
	background: url('../images/homepage_img.jpg') no-repeat center;
	background-color: rgba(36,43,52,0.9);
	display: flex;
	flex-direction: column;
}

#WelcomeText
{
	width: 847px;
	height: 70px;
	font-size:64px;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	font-weight: bold;
	color: #fff;
	text-align:center;
	margin: 0 auto;
	margin-top: 120px;
	color: #ededed;

}

.HPwaterline
{	
	margin: 0 auto;
	margin-top:50px;
/*	margin-left:425px;*/
}

.HPwaterline2
{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 100px;
}

#IntroText
{
	font-size: 34px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	margin-top:75px;
	color: #ededed;

}

#indexPage p
{
	font-size:34px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #ededed;
	text-align: center;
	margin-top:50px;

}

/*========End Home Section=============*/

/*=========Start About Section==========*/
#aboutPage
{

	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}

#aboutPage h2
{
	font-size:50px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #00a651;
	text-align: center;
	margin-top: 73px;
	margin-bottom: 30px;
	letter-spacing: 2px;

}

.waterline
{
	margin: 0 auto;
	margin-bottom:70px;
}


.aboutContent 
{
	display:flex;
	flex-direction: row;
	width: 1000px;
	margin: 0 auto;
	margin-top: 70px;
}

.aboutContent:nth-child(3)
{
	margin-top: 0px;
} 

.aboutContent p
{
	width: 820px;
	font-size:31px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #006633;
	margin-left: 70px;
	margin-top: 10px;
}

.aboutIcon
{
	width:80px;
	height:80px;
	margin-left: 30px; 

}

#aboutButton
{
	display:flex;
	flex-direction: row;
	margin: 0 auto;
	margin-top: 80px;
	margin-bottom:90px;

}

#aboutButton a:hover
{
	color:red;
}

.greenButton
{
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 15px;
	padding-top: 15px;
	margin-right: 30px;
	background-color: #2e7551;
	font-size: 42px;
	color:#fff;
	text-decoration: none;
	font-family: Apple Symbols, Arial;
	background: #49b17c; 
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); /* IE6-9 */
}

.greyButton
{
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-left: 30px;
	background-color: #e1eae6;
	font-size:42px;
	color:#006633;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	border-top: solid 1px #b1d1c1;
}

/*=========End About Section=========*/

/*===========Membership Area=======*/

#membership
{
/*	width:1366px;*/
	height: 260px;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	background-color:#999999;

}

#membershipText
{
	margin: 0 auto;
/*	margin-left:60px;*/
	width:720px;
	display: flex;
	flex-direction: column;
}

#membershipText h2
{
	font-size:60px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-top:40px;
	margin-bottom:20px;
}

#membershipText h3
{
	font-size:30px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-bottom:10px;
}

#membershipText p
{
	font-size:28px;
	font-family: Apple Symbols, Arial;
	color: #fff;
}

#membership img
{
	width:270px;
	height:270px;
	border-radius: 50%;
	margin: 0 auto;
	margin-left:100px;
	margin-bottom:20px;
}

/* ===========End of Membership===========*/

/*============== Projects=============*/

.projectsCon
{
	display: flex;
	flex-direction: column;
}

.projectsHeader
{
	width: 1010px;
	margin: 0 auto;
}

.projectsCon h2
{
	font-size: 65px;
	font-family: 'Montserrat',Andale Mono, Helvetica, sans-serif;
	color: #00a651;
	text-align: center;
	margin-top: 130px;
	margin-bottom: 40px;
}

.waterlineProjects
{	
	
	margin-left: 310px;
	margin-bottom: 60px;
}

.projectsInfo
{
	font-size: 28px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #717172;
	line-height: 41px;
	text-align: center;
	margin-bottom: 150px;
}

.projects
{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	margin: 0 auto;
	width: 1320px;
}

.projectsDesc
{
	width: 375px;
	margin-bottom: 150px;
}

.projectsDesc img
{
	margin-left: 50px;
	margin-bottom: 50px;
	height: 275px;
}

.projectsDesc h3
{
	height: 60px;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 35px;
	color: #717172;
	text-align: center;
	margin-bottom: 60px;
}

.projectsDesc a
{
	color: #03552a;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 35px;
	text-decoration: none;
	margin-left: 100px;
	background-color: #e1eae6;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top: solid 1px #b1d1c1;
}


/*===========End Of projects Section=======*/

/*============== Begin of Events ==========*/
#eventPage
{

	background-color: #ebebeb;
	display:flex;
	flex-direction: column;
}

#eventPage h2
{
	margin-top:130px;
	font-size:64px;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	color: #00a653;
	text-align: center;
	margin-bottom: 40px;
}

.waterlineEvent
{
	margin: 0 auto;
	margin-bottom: 100px;
}

#firstEvent
{
	width: 1325px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-left: 50px;
	margin-right: 50px;
	margin: 0 auto;
}

#anotherEvents
{
	width: 1325px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	margin-top: 100px;

}

.event
{
	width:380px;
	height:510px;
	background-color: #e1e1e1;
	display: flex;
	flex-direction: column;
}

.event h3
{
	font-size:23px;
	color: #474747;
	font-family: Myriad Pro, Arial, sans-serif;
	margin:20px;
}

.event img
{
	width:380px;
	height: 278px;
}

.event p
{
	width:341px;
	height:95px;
	margin-top:5px;
	margin-left: 20px;
	font-size:17px;
	color: grey;
	font-family: Myriad Pro, Arial, sans-serif;
	line-height:23px;
}

.eventButton
{
	width:175px;
	height:49px;
	background-color: #2e7551;
	font-size: 34px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	margin-left:25px;
	margin-top:25px;
	margin-bottom:25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49b17c+0,2e7551+51,49b17c+100 */
	background: #49b17c; /* Old browsers */
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); /* IE6-9 */
}

.eventButtonCon
{
	margin: 0 auto;
	margin-top: 50px;
	margin-bottom: 80px;
}

#bigEventButton
{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
	justify-content: center;
	font-family: Apple Symbols, Arial;
	text-decoration: none;
	color: #fff;
	font-size:38px;
	text-align:center;
	background: #49b17c; 
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); 
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); 
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); 
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); 
}

/* ============= END EVENTS SECTION ========*/

/*=========== CONTACT SECTION =============*/

.contacCon
{
	background-color: #e1eae6;
	padding-top: 70px;
}

.contact
{
	width: 1120px;
	margin: 0 auto;
}

.contact h2
{
	font-size: 63px;
	text-align: center;
	color: #00a653;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	letter-spacing: 1px;
	margin-bottom: 25px;
}

.contact img
{
	margin-left: 365px;
	margin-bottom: 80px;
}

.contactInfo
{
	width: 800px;
	margin: 0 auto;
	font-family: Apple Symbols, Arial, sans-serif;
	font-size: 30px;
	color: #717172;
	text-align: center;
	letter-spacing: 1px;
	line-height: 35px;
	margin-bottom: 150px;
}

.contact h3
{
	font-size: 40px;
	color: #00a653;
	font-family: 'Montserrat' ,Andale Mono, Helvetica, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	margin-bottom: 60px;
}

.contactMeeting
{
	width: 960px;
	margin: 0 auto;
	font-size: 26px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #717172;
	text-align: center;
	line-height: 35px;
	letter-spacing: 1px;
	padding-bottom: 130px;
}

.form
{
	background-color: #fff;
	width: 920px;
	margin: 0 auto;
}



/* ============== END CONTACT SECTION ========*/






