@charset "UTF-8";

.hidden
{
	display: none;
}
body
{
	font-family: Arial, sans-serif;
	background-color: #fff;
}
#siteContainer
{
	width:1366px;
	margin: 0 auto;
}

#mainHeader
{
	width:1366px;
	height: 139px;
	background-color: #2e7551;
	display: flex;
	flex-direction: row;
}
#logo
{

	margin-left:100px;
	margin-top:5px;
}
#mainNav ul
{
	
	margin-left:300px;
	margin-top: 62px;
	display: flex;
	flex-direction: row;

}

#mainNav ul li a
{	
	font-size: 17px;
	width: 90px;
	padding: 18px;
	text-decoration: none;
	color: #ffffff;
	font-family: Helvetica, Arial, sans-serif;
}
#mainNav ul li a:hover
{
	color: red;
}

#indexPage
{
	width: 1366px;
	height: 783px;
	background: url('../images/homepage_img.jpg');
	display: flex;
	flex-direction: column;
}
#WelcomeText
{
	width: 847px;
	height: 70px;
	font-size:64px;
	font-family: Andale Mono, Helvetica, sans-serif;
	color: #fff;
	text-align:center;
	margin-top: 150px;
	margin-left:280px;
}
#HPwaterline
{
	margin-top:95px;
	margin-left:425px;
}
#IntroText
{
	font-size: 34px;
	font-family: Andale Mono, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	margin-top:75px;

}
#indexPage p
{
	font-size:34px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #fff;
	text-align: center;
	margin-top:50px;
}
#aboutPage
{
	width: 1366px;
	height: 1250px;
	background-color: #ffffff;
	display: flex;
	flex-direction: column;
}
#aboutPage h1
{
	font-size:68px;
	font-family: Andale Mono, Helvetica, sans-serif;
	color: #006633;
	text-align: center;
	margin-top: 73px;
	margin-bottom: 40px;

}
#waterline
{
	margin-left:480px;
	margin-bottom:70px;
}
.aboutContent 
{
	display:flex;
	flex-direction: row;
	margin-left: 100px;
}

.aboutContent p
{
	font-size:37px;
	width:1390px;
	height:175px;
	font-family: Apple Symbols, Arial, sans-serif;
	color: #006633;
	margin-left:45px;
	margin-top: 10px;
}
.aboutIcon
{
	width:100px;
	height:100px;

}
#aboutButton
{
	display:flex;
	flex-direction: row;
	margin-top: 80px;
	margin-bottom:90px;

}
#aboutButton a:hover
{
	color:red;
}
.greenButton
{
	width:250px;
	height: 60px;
	background-color: #2e7551;
	font-size: 42px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	margin-left: 428px;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49b17c+0,008a00+55,2e7551+100,002400+100 */
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49b17c+0,2e7551+51,49b17c+100 */
	background: #49b17c; /* Old browsers */
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); /* IE6-9 */
}
.greyButton
{
	width:250px;
	height: 60px;
	background-color: #e1eae6;
	font-size:42px;
	color:#006633;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	margin-left: 55px;
}

#membership
{
	width:1366px;
	height: 260px;
	display: flex;
	flex-direction: row;
	background-color:#999999;
}
#membershipText
{
	margin-left:60px;
	width:860px;
	display: flex;
	flex-direction: column;
}
#membershipText h2
{
	font-size:72px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-top:10px;
	margin-bottom:20px;
}
#membershipText h3
{
	font-size:38px;
	font-family: Apple Symbols, Arial;
	color: #fff;
	margin-bottom:10px;
}
#membershipText p
{
	font-size:34px;
	font-family: Apple Symbols, Arial;
	color: #fff;
}

#membership img
{
	width:270px;
	height:270px;
	border-radius: 50%;
	margin-left:100px;
	margin-bottom:20px;
}
/*End of Membership*/
/*Begin of Events*/
#eventPage
{
	width:1366px;
	height:1460px;
	background-color: #ebebeb;
	display:flex;
	flex-direction: column;
}
#eventPage h1
{
	margin-top:55px;
	font-size:64px;
	font-family: Andale Mono, Helvetica, sans-serif;
	color: #006633;
	text-align: center;
	margin-bottom: 40px;
}
#firstEvent
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-left: 50px;
	margin-right: 50px;
}
#anotherEvents
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin:50px;

}
.event
{
	width:380px;
	height:510px;
	background-color: #e1e1e1;
	display: flex;
	flex-direction: column;
}
.event h2
{
	font-size:23px;
	color: black;
	font-family: Myriad Pro, Arial, sans-serif;
	margin:20px;
}

.event img
{
	width:380px;
	height: 278px;
}
.event p
{
	width:341px;
	height:95px;
	margin-top:5px;
	margin-left: 20px;
	font-size:17px;
	color: grey;
	font-family: Myriad Pro, Arial, sans-serif;
	line-height:23px;
}

.eventButton
{
	width:175px;
	height:49px;
	background-color: #2e7551;
	font-size: 34px;
	color:#fff;
	text-decoration: none;
	text-align: center;
	font-family: Apple Symbols, Arial;
	margin-left:25px;
	margin-top:25px;
	margin-bottom:25px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49b17c+0,2e7551+51,49b17c+100 */
	background: #49b17c; /* Old browsers */
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); /* IE6-9 */
}

#bigEventButton
{
	width:380px;
	height:65px;
	background-color: #2e7551;
	justify-content: center;
	margin-left: 485px;
	font-family: Apple Symbols, Arial;
	text-decoration: none;
	color: #fff;
	font-size:38px;
	text-align:center;
	margin-top: 65px;
	margin-bottom:45px;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#49b17c+0,2e7551+51,49b17c+100 */
	background: #49b17c; /* Old browsers */
	background: -moz-linear-gradient(top, #49b17c 0%, #2e7551 51%, #49b17c 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #49b17c 0%,#2e7551 51%,#49b17c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#49b17c', endColorstr='#49b17c',GradientType=0 ); /* IE6-9 */
}





